@font-face {
	font-family: "helios-cond-light";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/helios-cond-light.eot?") format("eot"),
	url("../fonts/helios-cond-light.woff") format("woff"),
	url("../fonts/helios-cond-light.ttf") format("truetype"),
	url("../fonts/helios-cond-light.svg#helios-cond-light") format("svg");
}
*:focus{
	outline: none;
}
.wrapper{
	overflow: hidden;
}


/*=========!!!============*/
.block{
	overflow: hidden;
	position: relative;
}
/*.block .blockContent .hidden{
	display: block;

	height: 0;
}
.block.open .blockContent .hidden{
	height: auto;
}*/
.block .blockContent .hidden{
	display: block;
}
.block{
	max-height: 64px;
	overflow: hidden;
	-webkit-transition: max-height 0.2s;
	transition: max-height 0.2s;
}
.block.open{
	max-height: 600px
}
/*=========!!!============*/



/* 20171228 */
.sectContent{
	padding: 30px 0;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.sectTitle{
	font-family: "Franklin Gothic Medium", Arial, sans-serif;
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 25px;
	color: #ffc600;
	padding-left: 32px;
}

.popularDep{
	position: relative;
	margin-bottom: 30px;
}
.popularDep:last-child{
	margin-bottom: 0;
}
.popularDep__list{
	margin: 0 -15px;
	font-size: 0;
	letter-spacing: -4px;
}
.popularDep__item{
	display: inline-block;
	vertical-align: top;
	width: 24.99%;
	padding: 0 15px 10px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: normal;
}
.popularDep__inner{
	text-decoration: none;
	color: #feba31;
}
.popularDep__inner:before,
.popularDep__inner:after { content: ""; display: table; }
.popularDep__inner:after { clear: both; }
.popularDep__img{
	display: block;
	float: left;
	width: 40px;
	padding-right: 5px;
	box-sizing: border-box;
}
.popularDep__img img{
	display: block;
	width: auto;
	max-width: 100%;
}
.popularDep__title{
	margin-left: 40px;
	padding-top: 4px;
	text-decoration: underline;
}
.popularDep__inner:hover .popularDep__title{
	text-decoration: none;
}

.technoSlider{
	position: relative;
	padding: 10px 0 50px;
}
.technoSlider__list {
	white-space: nowrap;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	position: relative;
	margin-bottom: 0;
}
.technoSlider__list::before,
.technoSlider__list::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 999px;
	z-index: 10;
}
.technoSlider__list::before{
	left: 100%;
}
.technoSlider__list::after{
	right: 100%;
}
.technoSlider__list .slick-list{
	overflow: visible;
}

.technoSlider__list.slick-initialized,
.no-js .technoSlider__list{
	white-space: normal;
	overflow: visible;
	opacity: 1;
	visibility: visible;
}

.technoSlider__item {
	float: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	will-change: opacity, visibility;
	opacity: 0;
	visibility: hidden;
	-webkit-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.slick-initialized .technoSlider__item,
.no-js .technoSlider__item {
	float: left;
	display: block;
}
.technoSlider__item.slick-active {
	opacity: 1;
	visibility: visible;
}
.technoSlider__inner {
	display: block;
	position: relative;
	text-decoration: none;
	color: #4cbeff;
	padding: 0 16px;
	will-change: transform;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.technoSlider__title{
	font-family: "helios-cond-light", sans-serif;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	height: calc(16px * 4);
	/*overflow: hidden;*/
	margin-bottom: 5px;
	box-shadow: 0 0 10px transparent;
	-webkit-transition-property: text-shadow, color;
	transition-property: text-shadow, color;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.technoSlider__inner:hover .technoSlider__title{
	/*text-shadow: 0 0 10px #63fff6;*/
	color: white;
}

.technoSlider__img{
	/*width: 92px;*/
	position: relative;
	border-radius: 50%;
	border: 2px solid #4cbeff;
	box-shadow: 0 0 35px transparent;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.technoSlider__inner:hover .technoSlider__img{
	box-shadow: 0 0 35px #63fff6;
}
.technoSlider__img:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.technoSlider__img img{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.slick-prev, .slick-next{
	height: 31px;
	width: 31px;
	background: url(../i/arrows.png);
	will-change: transform;
	z-index: 15;
}
.technoSlider .slick-prev,
.technoSlider .slick-next{
	margin-top: 35px;
}
.slick-prev{
	left: -30px;
	background-position: 0 0;
}
.slick-next{
	right: -30px;
	background-position: -102px 0;
}
.slick-prev:before, .slick-next:before{
	content: none;
}
.slick-prev:hover, .slick-next:hover,
.slick-prev:focus, .slick-next:focus{
	background: url(../i/arrows.png);
}
.slick-prev:hover, .slick-prev:focus{
	background-position: -51px 0;
}
.slick-next:hover, .slick-next:focus{
	background-position: -153px 0;
}
.slick-prev.slick-disabled,
.slick-prev.slick-disabled:hover,
.slick-prev.slick-disabled:focus{
	opacity: 0.5;
	background-position: 0 0;
	cursor: default;
}
.slick-next.slick-disabled,
.slick-next.slick-disabled:hover,
.slick-next.slick-disabled:focus{
	opacity: 0.5;
	background-position: -102px 0;
	cursor: default;
}

.technoSlider .slick-list:hover .technoSlider__inner {
	-webkit-transform: scale(0.69, 0.69) translate(0, -15%);
	-ms-transform: scale(0.69, 0.69) translate(0, -15%);
	transform: scale(0.69, 0.69) translate(0, -15%);
}
.technoSlider .technoSlider__item.hover-prev-prev .technoSlider__inner{
	/*-webkit-transform: scale(0.93, 0.93);*/
	/*-ms-transform: scale(0.93, 0.93);*/
	/*transform: scale(0.93, 0.93) translate(-20%, -3%);*/
	-webkit-transform: scale(0.88, 0.88) translate(-20%, -3%);
	-ms-transform: scale(0.88, 0.88) translate(-20%, -3%);
	transform: scale(0.88, 0.88) translate(-20%, -3%);
}
.technoSlider .technoSlider__item.hover-next-next .technoSlider__inner {
	/*-webkit-transform: scale(0.93, 0.93);*/
	/*-ms-transform: scale(0.93, 0.93);*/
	/*transform: scale(0.93, 0.93) translate(20%, -3%);*/
	-webkit-transform: scale(0.88, 0.88) translate(20%, -3%);
	-ms-transform: scale(0.88, 0.88) translate(20%, -3%);
	transform: scale(0.88, 0.88) translate(20%, -3%);
}
.technoSlider .technoSlider__item.hover-prev .technoSlider__inner{
	/*-webkit-transform: scale(1.27, 1.27);*/
	/*-ms-transform: scale(1.27, 1.27);*/
	/*transform: scale(1.27, 1.27) translate(-20%, 11%);*/
	-webkit-transform: scale(1.1, 1.1) translate(-20%, 11%);
	-ms-transform: scale(1.1, 1.1) translate(-20%, 11%);
	transform: scale(1.1, 1.1) translate(-20%, 11%);
}
.technoSlider .technoSlider__item.hover-next .technoSlider__inner {
	/*-webkit-transform: scale(1.27, 1.27);*/
	/*-ms-transform: scale(1.27, 1.27);*/
	/*transform: scale(1.27, 1.27) translate(20%, 11%);*/
	-webkit-transform: scale(1.1, 1.1) translate(20%, 11%);
	-ms-transform: scale(1.1, 1.1) translate(20%, 11%);
	transform: scale(1.1, 1.1) translate(20%, 11%);
}
.technoSlider .technoSlider__item.hover-current .technoSlider__inner {
	/*-webkit-transform: scale(1.66, 1.66) translate(0, 20%);*/
	/*-ms-transform: scale(1.66, 1.66) translate(0, 20%);*/
	/*transform: scale(1.66, 1.66) translate(0, 20%);*/
	-webkit-transform: scale(1.4, 1.4) translate(0, 20%);
	-ms-transform: scale(1.4, 1.4) translate(0, 20%);
	transform: scale(1.4, 1.4) translate(0, 20%);
}

.l-footer{
	text-align: center;
	padding-bottom: 35px;
}

.btnDef{
	display: inline-block;
	vertical-align: top;
	/*font-family: "Franklin Gothic Medium", Arial;*/
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 6px 18px;
	border-radius: 9px;
	border: 1px solid;
	border-color: white transparent transparent;
	box-shadow: 0 1px 0 1px #031147, 0 2px 0 1px #05207b, 0 2px 0 1px #074ac4;
	/*box-shadow: 0 1px 0 1px #031147, 0 2px 0 1px yellow, 0 3px 0 1px deeppink;*/
	background: #00b2ff;
	background: -moz-linear-gradient(top, #00b2ff 0%, #00a3ff 13%, #005fff 57%, #0054ff 73%, #005aff 80%, #0072ff 87%, #00a0ff 97%, #009cea 100%);
	background: -webkit-linear-gradient(top, #00b2ff 0%, #00a3ff 13%, #005fff 57%, #0054ff 73%, #005aff 80%, #0072ff 87%, #00a0ff 97%, #009cea 100%);
	background: linear-gradient(to bottom, #00b2ff 0%, #00a3ff 13%, #005fff 57%, #0054ff 73%, #005aff 80%, #0072ff 87%, #00a0ff 97%, #009cea 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2ff', endColorstr='#009cea',GradientType=0 );*/
}
.btnDef:hover{
	background: #009cea;
	background: -moz-linear-gradient(top, #009cea 0%, #00a0ff 3%, #0072ff 13%, #005aff 20%, #0054ff 27%, #005fff 43%, #00a3ff 87%, #00b2ff 100%);
	background: -webkit-linear-gradient(top, #009cea 0%, #00a0ff 3%, #0072ff 13%, #005aff 20%, #0054ff 27%, #005fff 43%, #00a3ff 87%, #00b2ff 100%);
	background: linear-gradient(to bottom, #009cea 0%, #00a0ff 3%, #0072ff 13%, #005aff 20%, #0054ff 27%, #005fff 43%, #00a3ff 87%, #00b2ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cea', endColorstr='#00b2ff', GradientType=0);
}

/*popular*/
.popular{
	margin-bottom: 20px;
}
.popular__list{
	margin: 0 -15px;
	box-sizing: border-box;
	font-size: 0;
	letter-spacing: -4px;
}
.popular__item{
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 30px;
	width: 50%;
	box-sizing: border-box;
}
.popular__inner{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
	font-weight: bold;
	color: #feba31;
}
.popular__inner:before,
.popular__inner:after { content: ""; display: table; }
.popular__inner:after { clear: both; }
.popular__visual{
	float: left;
	width: 212px;
	margin-right: 30px;
}
.popular__img{
	position: relative;
	box-sizing: border-box;
	border: 5px solid #0091ff;
	border-radius: 2px;
	margin-bottom: 15px;
}
.popular__img::before{
	content: "";
	display: block;
	padding-top: 100%;
}
.popular__img img{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.popular__title{
	text-align: center;
}
.popular__title a,
.popular__content a{
	text-decoration: none;
	color: inherit;
}
.popular__title a:hover,
.popular__content a:hover{
	text-decoration: underline;
}
.popular__content{
	overflow: hidden;
}
.popular__content::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	min-height: 212px;
}
.popular__content ul{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 8px);
	list-style: none;
	margin: 0;
	padding: 0;
}
.popular__content ul li{
	margin: 0 0 10px;
}
.popular__content ul li:last-child{
	margin-bottom: 0;
}
/*popular end*/

.blockRewards{
	background: url(../i/bg-space.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.rewardsSlider{
	padding: 10px 0 50px;
}
.rewardsSlider__list {
	white-space: nowrap;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	position: relative;
	margin-bottom: 0;
	background-color: #072598;
}
.rewardsSlider__list:after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	background: url(../i/shadow.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 100%;
	height: 17px;
}

.rewardsSlider__list.slick-initialized,
.no-js .rewardsSlider__list{
	white-space: normal;
	overflow: visible;
	opacity: 1;
	visibility: visible;
}

.rewardsSlider__item {
	float: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-color: #072598;
	padding: 0 1px 100px;
	margin-bottom: -100px;
	box-sizing: border-box;
}
.slick-initialized .rewardsSlider__item,
.no-js .rewardsSlider__item {
	float: left;
	display: block;
}
.rewardsSlider__inner{
	display: block;
	position: relative;
	padding: 30px 30px 220px;
	margin-bottom: -200px;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #feba31;
	background-color: #0036af;
	text-align: center;
	font-weight: bold;
}
.rewardsSlider__inner:hover{
	text-decoration: underline;
}

.rewardsSlider__img{
	position: relative;
	margin-bottom: 18px;
}
.rewardsSlider__img::before{
	content: "";
	display: block;
	padding-top: 143%;
}
.rewardsSlider__img img{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.rewardsSlider .slick-prev{
	left: -15px;
}
.rewardsSlider .slick-next{
	right: -15px;
}

.logo{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 161px;
	left: 77px;
	width: 305px;
	height: 300px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../i/logo-static.png) no-repeat;
	-webkit-animation: logoAnimate 4s ease-in-out infinite;
	animation: logoAnimate 4s ease-in-out infinite;
}

@-webkit-keyframes logoAnimate {
	0% {
		-webkit-transform: rotateY(0deg); /* Safari */
	}
	90% {
		-webkit-transform: rotateY(360deg); /* Safari */
	}
	100% {
		-webkit-transform: rotateY(360deg); /* Safari */
	}
}

@keyframes logoAnimate {
	0% {
		transform: rotateY(0deg); /* Safari */
	}
	90% {
		transform: rotateY(360deg); /* Safari */
	}
	100% {
		transform: rotateY(360deg); /* Safari */
	}
}
/* 20171228 end */